<div class="px-4 mx-auto py-4 sm:px-6 lg:px-8">
  <div class="flex flex-col gap-4 px-4 py-4 sm:px-8 sm:py-8 bg-white shadow-md sm:rounded-lg sm:border">

    <div class="flex flex-col gap-2 py-4">
      <h1 class="text-xl leading-6 font-medium text-gray-900">Commandes</h1>
      <p class="mt-1 text-sm text-gray-500">
        Voir toutes les commandes triées par des plus récentes à la plus anciennes.
      </p>
    </div>

    <%= form_tag dashboard_orders_path, method: :get, class: "space-y-4" do %>
      <div class="flex flex-col sm:flex-row gap-4 w-full items-baseline align">
        <div class="flex flex-col sm:flex-row gap-4 sm:flex-1 w-full">
          <div class="w-64 max-sm:w-full max-lg:w-fit">
            <label for="query" class="block text-sm font-medium text-gray-700">Rechercher</label>
            <div class="mt-1">
              <%= text_field_tag :query,
                                 params[:query],
                                 class: "shadow-sm focus:ring-indigo-500 focus:border-indigo-500 block w-full text-sm border-gray-300 rounded-md",
                                 placeholder: "Email, nom, adresse, ou variante" %>
            </div>
          </div>

          <div class="w-full sm:w-fit min-sm:w-64">
            <label for="status" class="block text-sm w-fit font-medium text-gray-700">État</label>
            <div class="mt-1">
              <%= select_tag :status,
                             options_for_select(statuses_for_select, params[:status]),
                             class: "dash-btn-select" %>
            </div>
          </div>
        </div>

        <div class="flex flex-col gap-4 sm:flex-row place-content-end mt-auto h-full w-full sm:w-fit">
          <%= link_to "Réinitialiser", dashboard_orders_path,
                         class: "dash-btn-secondary" %>

          <%= submit_tag "Rechercher",
                         class: "dash-btn-primary" %>
        </div>
      </div>
    <% end %>

    <div class="overflow-x-auto rounded-lg border border-gray-200">
      <table class="min-w-full divide-y divide-gray-200">
        <thead class="bg-gray-50">
        <tr>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">ID</th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Stripe</th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Client</th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">État</th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Variante</th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Total</th>
          <th scope="col" class="px-6 py-3 text-left text-sm font-semibold text-gray-900">Créé le</th>
          <th scope="col" class="relative px-6 py-3">
            <span class="sr-only">Actions</span>
          </th>
        </tr>
        </thead>
        <tbody class="divide-y divide-gray-200 bg-white">
        <% @orders.each do |order| %>
          <tr>
            <td class="whitespace-nowrap px-6 py-4 text-sm font-medium text-gray-900">
              <%= order.id %>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
              <%= link_to truncate_long_id(order.stripe_payment_id),
                          "#{Rails.configuration.stripe["url"]}/payments/#{order.stripe_payment_id}",
                          target: "_blank",
                          class: "dash-stripe-link text-xs" %>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
              <div><%= order.customer.full_name %></div>
              <div class="text-xs text-gray-400"><%= order.customer.email %></div>
              <%= link_to truncate_long_id(order.customer.stripe_customer_id),
                          "#{Rails.configuration.stripe["url"]}/customers/#{order.customer.stripe_customer_id}",
                          target: "_blank",
                          class: "dash-stripe-link text-xs" %>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
              <%= render(Dashboard::OrderStatusBadgeComponent.new(status: order.status)) %>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500 text-left">
              <pre class="text-xs text-gray-400"><%= order.order_items.first&.product_variant&.variants_slug %></pre>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
              <%= number_to_currency(order.order_items.sum(&:total_amount) / 100.0, precision: 2, unit: '€') %>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-sm text-gray-500">
              <%= order.created_at.strftime("%b %d, %Y %H:%M") %>
            </td>
            <td class="whitespace-nowrap px-6 py-4 text-right text-sm font-medium">
              <%= render(Dashboard::ButtonComponent.new(
                text: "Voir",
                variant: Dashboard::ButtonComponent.variant_minimal,
                link: dashboard_order_path(order)
              )) %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>